.bookings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 84%;
  height: 100vh;
  background: #e4e5e9 url('https://picsum.photos/id/108/860/671') no-repeat center/cover;
  background-blend-mode: screen;
}

.bookings > h2 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 3px;
}

.bookings > h2::after {
  display: block;
  margin: 30px auto 34px auto;
  border: 1px dotted lightgrey;
  width: 40%;
  content: '';
}

@media screen and (max-width: 768px) {
  .bookings {
    width: 80%;
  }

  .bookings > h2:after {
    margin: 20px auto 24px auto;
  }
}

@media screen and (max-width: 425px) {
  .bookings {
    width: 100%;
  }

  .bookings > h2 {
    padding-top: 24px;
  }
}
