.bookings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84%;
  background: #e4e5e9 url('https://picsum.photos/id/108/860/671') no-repeat center/cover;
  background-blend-mode: screen;
}
