.bookingList {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

@media screen and (max-width: 425px) {
  .bookingList {
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .bookingList::-webkit-scrollbar {
    display: none;
  }
}
