.bookingList {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e4e5e9;
  width: 70%;
}

@media screen and (max-width: 425px) {
  .bookingList {
    padding: 25px 0 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    height: 100vh;
    overflow: scroll;
  }
}
